@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'DM Sans', sans-serif; /* Changed to DM Sans */
  background-color: #f8fbff;  
  display : flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F2F8FF;
}

.ChooseSystem {
  
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F2F8FF;
}

.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F2F8FF;
}

.home-page {
  min-height: 100vh; /* Ensures the page stretches */
 
  background-color: #F2F8FF;
}


.container {
  display: flex;
  background-color: #fff;
  border-radius: 28px;
  box-shadow: 0 0 100px #C4DFFF;
  overflow: hidden;
  width: 900px;
  margin: 20px;
}

.login-section {
  flex: 1;
  padding: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.header img {
  width: 180px; /* Adjust to your preferred size */
  height: auto; /* Keeps aspect ratio */
  margin-bottom: 28px;
  align-items: center;
  
  margin-left: auto;
  margin-right: auto;
}


.login-box form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.input-group {
  margin-bottom: 16px;
  text-align: left;
  
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: #555;
}

.input-group input {
  width: 400px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  
}

.login-button {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  background-color: #2B60A1;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s ease;
}



.login-button:hover {
  background-color: #2f7fd5;
  transform: translate(0px,-2px);
  transition: all 0.5s ease;
  border-radius: 8px;
}

.key-visual {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.key-visual img {
  max-width: 100%;
  height: auto;
  border-radius: 26px;
}








