@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    background-color: #f8fbff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Use min-height for responsiveness */
}

.root, .ChooseSystem, .login-page, .home-page {
    min-height: 100vh;
    background-color: #F2F8FF;
}

.container {
  display: flex;
  background-color: #fff;
  border-radius: 28px;
  width: 900px;
  margin: 20px;
  position: relative;
}

@property --angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.container::before, .container::after {
  content: '';
  position: absolute;
  background: conic-gradient(from var(--angle),#b9e0ff21 , #48adff); /* Only two colors */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: px;
  z-index: -1;
  border-radius: 28px;
  animation : spin 3s linear infinite;
  
  
}

.container::after {
  filter: blur(100px);
  opacity: 0.7;
  
}


@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
  }

.login-section {
    flex: 1;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header img {
    width: 180px;
    height: auto;
    margin-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
}

.login-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-group {
    width: 100%;
    max-width: 400px;
    margin-bottom: 16px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    color: #555;
}

.input-group input {
    max-width: 400px;
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-button {
    margin-top: 10px;
    max-width: 400px;
    width: 100%;
    padding: 12px;
    background-color: #2B60A1;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.login-button:hover {
    background-color: #2f7fd5;
    transform: translate(0, -2px);
    transition: all 0.5s ease;
    border-radius: 8px;
}

.key-visual {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.key-visual img {
    max-width: 100%;
    height: auto;
    border-radius: 26px;
}

/* Responsive Adjustments */
@media (max-width: 900px) {
    .container {
        width: 500px; /* Adjust container width */
        flex-direction: column; /* Stack login and visual */
        align-items: center; /* Center items horizontally */
        margin-left: 10px;
        margin-right: 10px;
        /* Adjust padding */
    }

    .input-group input {
        width: 100%; /* Responsive input width */
    }

    .login-section {
        flex: 1; /* Allow the login section to grow */
        width: 100%;
        
        display: flex;
        flex-direction: column;
        align-items: center; /* Center content within sections */
    }

    .key-visual {
        display: none; /* Hide key visual */
    }

    .header img {
        width: 150px; /* Adjust company logo size */
        margin-top: 20px; /* Add margin to the top */
    }

    .login-box  {
        width: 90%; /* Make login form same width as key visual */
        margin: 0 30px; /* Add margin to top and bottom */
    }

    
    .login-box input  {
        width: 95%; /* Remove max-width restriction */
       
    }

   

    .login-button {
        max-width: none; /* Remove max-width restriction */
    }
}

@media (max-width: 600px) {
    .container {
        width: 95%; /* Adjust container width */
        flex-direction: column; /* Stack login and visual */
        align-items: center; /* Center items horizontally */
        margin-right: auto;
        margin-left: 0;
        
        padding: 30px 10px;/* Adjust padding */
        
    }
    .input-group input {
        width: 95%; /* Further input adjustment */
    }

    .login-section {
        padding: 15px;
    }

    .header img {
        width: 120px; /* Further adjust company logo size for smaller screens */
    }
    .key-visual {
        display: none; /* Hide key visual */
    }
}

