/* Full Page Centering */
.choose-system-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #F2F8FF;
  }
  
  /* Back Button */
  .back-button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
    transition: transform 0.3s ease;
  }

  .back-button:hover {
    color: #000000;
    background: none;
    transform: translate(12px,0 );
    font-weight: bold;
  }

  
  .back-icon {
    font-size: 14px;
  }
  
  /* White Container Box */
  .choose-system-box {
    background-color: #fff;
    padding: 80px 40px 100px;
    border-radius: 16px;
    box-shadow: 0 10px 30px #CDE4FF;
    text-align: center;
    width: 400px;
    
  }
  
  /* Title */
  .choose-system-box h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 48px;
    
  }
  
  /* Button Container */
  .system-options {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  /* System Button */
  .system-button {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    color: #000;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .system-options button {
    padding: 15px 30px;
    background-color: #fff;
    color: #000000;
    border: 1px solid #cbcbcb;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
    .system-options button:hover {
    background-color: #0056b3;
    color: #fff;
    }
  
  /* Logo inside Button */
  .system-icon {
    width: 20px;
    height: 20px;
  }
  